## Cross check maps

In [1]:
import pandas as pd
import numpy as np

### Naming scheme

- PolarFire: DPM 
  - Range: [0,1]
- HGCROC: Board 
  - 4 boards per DPM but only 3 connected 
  - Range: [0,1,2]
- Channel:
  - Channels for the lower half (0-35)
  - Channels for the upper half (36-71)
  - 36 channels per half of the HGCROC: 0-71 in total
  - Channels "inactive" in 0-71 range: 8,17,26,35,44,53,62,71
  - Range: [0 - 70]
- Elink:
  - Each HGCROC mapped has 2 elinks
  - Range: [0,1]
  - Range in pflib: 
    - [0,1,2,3,4,5] 
    - (0,1): ROC 0, (2,3): ROC 1, (4,5): ROC 2
- Bar: strip
  - Range: [1,2,3,4]
  - AllBar: If we group strips by layers:
    - Front: 
      2 CMBs: [1-8]
    - Back:
      3 CMBs: [1-12]
- Quadbar:
  - Quarbar groups 4 strips
  - Range: 
    - [1,2]: 2CMBs in the front (layers 0,9)
    - [1,2,3]: 3CMBs in the back (layers 10,19)
- CMB:
  - Each quadbar is connected to 2 CMBs, one in each End
  - In total each board is connected to 16 CMBs.
  - Range: [1-16]
- Plane: Layer
  - 19 Layers
  - 9 layers in front: 4 vertical, 5 horizontal
  - 10 layers in back: 5 vertical, 5 horizontal
  - Range: [1-19]
- Cable:
  - Cable numbering
  - Range: [11-196]
- Orientation:
  - Vertical or Horizontal
- Side: End
  - Up/Down or Left/Right
  - In ldmx-sw: Positive end (end=0), corresponds to Top,Left. Negative end (end=1), corresponds to Bottom,Right.
  - Range: [U/L,D/R]
  - Range: [0,1]

First, this is the map from Matt (and David) in ldmx-sw.

In [2]:
ldmxsw_map = pd.read_csv("testbeam_connections_updated.csv") # tb file
ldmxsw_map

     Polarfire  HGCROC  Channel  CMB  Quadbar  Bar  Plane  Cable
0            0       0        0    1        1    4      1     11
1            0       0        1    1        1    3      1     11
2            0       0        2    1        1    2      1     11
3            0       0        3    1        1    1      1     11
4            0       0        4    2        1    1      1     12
..         ...     ...      ...  ...      ...  ...    ...    ...
379          1       2       66   15        2    1     19    195
380          1       2       67   16        2    1     19    196
381          1       2       68   16        2    2     19    196
382          1       2       69   16        2    3     19    196
383          1       2       70   16        2    4     19    196

[384 rows x 8 columns]

Now, this is the map provided by Lennart.

In [3]:
tmap = pd.read_csv("testbeam_connections_Lennart.csv") # provided by Lennart
tmap

,#Dpm,Board,Elink,Connector,Cable,Plane,Orientation,QuadBar,Side,Rotated
0,0,0,0,J1,11,0,V,0,U,NaN
1,0,0,0,J2,12,0,V,0,D,NaN
2,0,0,0,J3,13,0,V,1,U,NaN
3,0,0,0,J4,14,0,V,1,D,NaN
4,0,0,0,J5,21,1,H,0,L,Yes
...,...,...,...,...,...,...,...,...,...,...
91,1,2,1,J12,192,18,V,0,D,NaN
92,1,2,1,J13,193,18,V,1,U,NaN
93,1,2,1,J14,194,18,V,1,D,NaN
94,1,2,1,J15,195,18,V,2,U,NaN
95,1,2,1,J16,196,18,V,2,D,NaN

Need to convert Lennart's format into Tom's/Matt's.
First, let's rename and re-arrange some columns to have the same name as range as in the ldmxsw file.

In [4]:
tb_map = pd.read_csv("testbeam_connections_Lennart.csv") # provided by Lennart
tb_map = tb_map.loc[tb_map.index.repeat(4)] # need to repeat rows by 4 (since we have 4 bars per connector)
tb_map.rename(columns={'Board': 'HGCROC', 'QuadBar': 'Quadbar', '#Dpm': 'Polarfire', 'Connector': 'CMB', 'Side': 'End'}, inplace=True)
tb_map

,Polarfire,HGCROC,Elink,CMB,Cable,Plane,Orientation,Quadbar,End,Rotated
0,0,0,0,J1,11,0,V,0,U,NaN
0,0,0,0,J1,11,0,V,0,U,NaN
0,0,0,0,J1,11,0,V,0,U,NaN
0,0,0,0,J1,11,0,V,0,U,NaN
1,0,0,0,J2,12,0,V,0,D,NaN
...,...,...,...,...,...,...,...,...,...,...
94,1,2,1,J15,195,18,V,2,U,NaN
95,1,2,1,J16,196,18,V,2,D,NaN
95,1,2,1,J16,196,18,V,2,D,NaN
95,1,2,1,J16,196,18,V,2,D,NaN
95,1,2,1,J16,196,18,V,2,D,NaN

In [5]:
connector_map = dict(zip([f'J{j+1}' for j in range(16)], list(range(1,17)))) # replace connector strings
tb_map.replace({'CMB': connector_map}, inplace=True)

tb_map.fillna(False,inplace=True)  # replace Rotated by False/True
tb_map.loc[tb_map['Rotated'] =='Yes', 'Rotated'] = True

tb_map.set_index(['Cable'],inplace=True) # sort by cable
tb_map.sort_index(inplace=True)
tb_map.reset_index(inplace=True)

# get 2 elinks per HGCROC (0,1) to (0,5)
tb_map['Elink'] = tb_map['Elink']+2*tb_map['HGCROC']

# get plane numbering 1-19 instead of 0-18
tb_map['Plane'] += 1

# get quadbar numbering 0-2 to 1-3
tb_map['Quadbar'] += 1

# Ends convention in ldmx-sw
# Positive end (end=0), corresponds to Top,Left.
# Negative end (end=1), corresponds to Bottom,Right.
tb_map.loc[tb_map['End'] =='U', 'End'] = 0
tb_map.loc[tb_map['End'] =='D', 'End'] = 1
tb_map.loc[tb_map['End'] =='L', 'End'] = 0
tb_map.loc[tb_map['End'] =='R', 'End'] = 1

tb_map

,Cable,Polarfire,HGCROC,Elink,CMB,Plane,Orientation,Quadbar,End,Rotated
0,11,0,0,0,1,1,V,1,0,False
1,11,0,0,0,1,1,V,1,0,False
2,11,0,0,0,1,1,V,1,0,False
3,11,0,0,0,1,1,V,1,0,False
4,12,0,0,0,2,1,V,1,1,False
...,...,...,...,...,...,...,...,...,...,...
379,195,1,2,5,15,19,V,3,0,False
380,196,1,2,5,16,19,V,3,1,False
381,196,1,2,5,16,19,V,3,1,False
382,196,1,2,5,16,19,V,3,1,False
383,196,1,2,5,16,19,V,3,1,False

Now we can add the channel column as well. 
This should be identical to the channels in ldmxsw.
We remove every 8th row.
Should we remove the calibration channels as well?

In [6]:
channels_ldmxsw = list(ldmxsw_map['Channel'].unique())
channels = list(range(72))
channels.remove(8)
channels.remove(17) 
channels.remove(26)
channels.remove(35)
channels.remove(44)
channels.remove(53)
channels.remove(62)
channels.remove(71)
tb_map['Channel'] = pd.Series(channels*tb_map.shape[0])
print(channels_ldmxsw==channels)

True

Now that we have the table ordered by Cable, let's introduce the Bar column.
Ranges from 1-4 but we need to re-order the rows where `Rotated==True`.

In [7]:
tb_map['Bar'] = pd.Series(list(range(1,5))*tb_map.shape[0])

new_map = tb_map.copy()
new_map.loc[(tb_map['Rotated'] == True) & (tb_map['Bar']==1), 'Bar'] = 4
new_map.loc[(tb_map['Rotated'] == True) & (tb_map['Bar']==2), 'Bar'] = 3
new_map.loc[(tb_map['Rotated'] == True) & (tb_map['Bar']==3), 'Bar'] = 2
new_map.loc[(tb_map['Rotated'] == True) & (tb_map['Bar']==4), 'Bar'] = 1
new_map

,Cable,Polarfire,HGCROC,Elink,CMB,Plane,Orientation,Quadbar,End,Rotated,Channel,Bar
0,11,0,0,0,1,1,V,1,0,False,0,1
1,11,0,0,0,1,1,V,1,0,False,1,2
2,11,0,0,0,1,1,V,1,0,False,2,3
3,11,0,0,0,1,1,V,1,0,False,3,4
4,12,0,0,0,2,1,V,1,1,False,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...
379,195,1,2,5,15,19,V,3,0,False,66,4
380,196,1,2,5,16,19,V,3,1,False,67,1
381,196,1,2,5,16,19,V,3,1,False,68,2
382,196,1,2,5,16,19,V,3,1,False,69,3
383,196,1,2,5,16,19,V,3,1,False,70,4

In [8]:
# let's also introduce Bars that range from 1-12
new_map['AllBar'] = tb_map.apply(lambda row: row.Bar+4*(row.Quadbar-1), axis=1)
new_map

,Cable,Polarfire,HGCROC,Elink,CMB,Plane,Orientation,Quadbar,End,Rotated,Channel,Bar,AllBar
0,11,0,0,0,1,1,V,1,0,False,0,1,1
1,11,0,0,0,1,1,V,1,0,False,1,2,2
2,11,0,0,0,1,1,V,1,0,False,2,3,3
3,11,0,0,0,1,1,V,1,0,False,3,4,4
4,12,0,0,0,2,1,V,1,1,False,4,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
379,195,1,2,5,15,19,V,3,0,False,66,4,12
380,196,1,2,5,16,19,V,3,1,False,67,1,9
381,196,1,2,5,16,19,V,3,1,False,68,2,10
382,196,1,2,5,16,19,V,3,1,False,69,3,11
383,196,1,2,5,16,19,V,3,1,False,70,4,12

Let's save a long map now with the PolarFile, Elink, Orientation and Side.

In [9]:
new_long_map = new_map[['HGCROC','Channel','CMB','Quadbar','Bar','Plane','AllBar','Elink','End']]
new_long_map

     HGCROC  Channel  CMB  Quadbar  Bar  Plane  AllBar  Elink End
0         0        0    1        1    1      1       1      0   0
1         0        1    1        1    2      1       2      0   0
2         0        2    1        1    3      1       3      0   0
3         0        3    1        1    4      1       4      0   0
4         0        4    2        1    1      1       1      0   1
..      ...      ...  ...      ...  ...    ...     ...    ...  ..
379       2       66   15        3    4     19      12      5   0
380       2       67   16        3    1     19       9      5   1
381       2       68   16        3    2     19      10      5   1
382       2       69   16        3    3     19      11      5   1
383       2       70   16        3    4     19      12      5   1

[384 rows x 9 columns]

In [10]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  # more options can be specified also
    print(new_long_map)

     HGCROC  Channel  CMB  Quadbar  Bar  Plane  AllBar  Elink End
0         0        0    1        1    1      1       1      0   0
1         0        1    1        1    2      1       2      0   0
2         0        2    1        1    3      1       3      0   0
3         0        3    1        1    4      1       4      0   0
4         0        4    2        1    1      1       1      0   1
5         0        5    2        1    2      1       2      0   1
6         0        6    2        1    3      1       3      0   1
7         0        7    2        1    4      1       4      0   1
8         0        9    3        2    1      1       5      0   0
9         0       10    3        2    2      1       6      0   0
10        0       11    3        2    3      1       7      0   0
11        0       12    3        2    4      1       8      0   0
12        0       13    4        2    1      1       5      0   1
13        0       14    4        2    2      1       6      0   1
14        0       15    4        2    3      1       7      0   1
15        0       16    4        2    4      1       8      0   1
16        0       18    5        1    4      2       1      0   0
17        0       19    5        1    3      2       2      0   0
18        0       20    5        1    2      2       3      0   0
19        0       21    5        1    1      2       4      0   0
20        0       22    6        1    4      2       1      0   1
21        0       23    6        1    3      2       2      0   1
22        0       24    6        1    2      2       3      0   1
23        0       25    6        1    1      2       4      0   1
24        0       27    7        2    4      2       5      0   0
25        0       28    7        2    3      2       6      0   0
26        0       29    7        2    2      2       7      0   0
27        0       30    7        2    1      2       8      0   0
28        0       31    8        2    4      2       5      0   1
29        0       32    8        2    3      2       6      0   1
30        0       33    8        2    2      2       7      0   1
31        0       34    8        2    1      2       8      0   1
32        0       36    9        1    1      3       1      1   0
33        0       37    9        1    2      3       2      1   0
34        0       38    9        1    3      3       3      1   0
35        0       39    9        1    4      3       4      1   0
36        0       40   10        1    1      3       1      1   1
37        0       41   10        1    2      3       2      1   1
38        0       42   10        1    3      3       3      1   1
39        0       43   10        1    4      3       4      1   1
40        0       45   11        2    1      3       5      1   0
41        0       46   11        2    2      3       6      1   0
42        0       47   11        2    3      3       7      1   0
43        0       48   11        2    4      3       8      1   0
44        0       49   12        2    1      3       5      1   1
45        0       50   12        2    2      3       6      1   1
46        0       51   12        2    3      3       7      1   1
47        0       52   12        2    4      3       8      1   1
48        0       54   13        1    1      4       1      1   0
49        0       55   13        1    2      4       2      1   0
50        0       56   13        1    3      4       3      1   0
51        0       57   13        1    4      4       4      1   0
52        0       58   14        1    1      4       1      1   1
53        0       59   14        1    2      4       2      1   1
54        0       60   14        1    3      4       3      1   1
55        0       61   14        1    4      4       4      1   1
56        0       63   15        2    1      4       5      1   0
57        0       64   15        2    2      4       6      1   0
58        0       65   15        2    3      4       7      1   0
59        0       66   15        2    4      4       8      1   0
60        0       67   16        2    1      4       5      1   1
61        0       68   16        2    2      4       6      1   1
62        0       69   16        2    3      4       7      1   1
63        0       70   16        2    4      4       8      1   1
64        1        0    1        1    1      5       1      2   0
65        1        1    1        1    2      5       2      2   0
66        1        2    1        1    3      5       3      2   0
67        1        3    1        1    4      5       4      2   0
68        1        4    2        1    1      5       1      2   1
69        1        5    2        1    2      5       2      2   1
70        1        6    2        1    3      5       3      2   1
71        1        7    2        1    4      5       4      2   1
72        1        9    3        2    1      5       5      2   0
73        1       10    3        2    2      5       6      2   0
74        1       11    3        2    3      5       7      2   0
75        1       12    3        2    4      5       8      2   0
76        1       13    4        2    1      5       5      2   1
77        1       14    4        2    2      5       6      2   1
78        1       15    4        2    3      5       7      2   1
79        1       16    4        2    4      5       8      2   1
80        1       18    5        1    1      6       1      2   0
81        1       19    5        1    2      6       2      2   0
82        1       20    5        1    3      6       3      2   0
83        1       21    5        1    4      6       4      2   0
84        1       22    6        1    1      6       1      2   1
85        1       23    6        1    2      6       2      2   1
86        1       24    6        1    3      6       3      2   1
87        1       25    6        1    4      6       4      2   1
88        1       27    7        2    1      6       5      2   0
89        1       28    7        2    2      6       6      2   0
90        1       29    7        2    3      6       7      2   0
91        1       30    7        2    4      6       8      2   0
92        1       31    8        2    1      6       5      2   1
93        1       32    8        2    2      6       6      2   1
94        1       33    8        2    3      6       7      2   1
95        1       34    8        2    4      6       8      2   1
96        1       36    9        1    1      7       1      3   0
97        1       37    9        1    2      7       2      3   0
98        1       38    9        1    3      7       3      3   0
99        1       39    9        1    4      7       4      3   0
100       1       40   10        1    1      7       1      3   1
101       1       41   10        1    2      7       2      3   1
102       1       42   10        1    3      7       3      3   1
103       1       43   10        1    4      7       4      3   1
104       1       45   11        2    1      7       5      3   0
105       1       46   11        2    2      7       6      3   0
106       1       47   11        2    3      7       7      3   0
107       1       48   11        2    4      7       8      3   0
108       1       49   12        2    1      7       5      3   1
109       1       50   12        2    2      7       6      3   1
110       1       51   12        2    3      7       7      3   1
111       1       52   12        2    4      7       8      3   1
112       1       54   13        1    1      8       1      3   0
113       1       55   13        1    2      8       2      3   0
114       1       56   13        1    3      8       3      3   0
115       1       57   13        1    4      8       4      3   0
116       1       58   14        1    1      8       1      3   1
117       1       59   14        1    2      8       2      3   1
118       1       60   14        1    3      8       3      3   1
119       1       61   14        1    4      8       4      3   1
120       1       63   15        2    1      8       5      3   0
121       1       64   15        2    2      8       6      3   0
122       1       65   15        2    3      8       7      3   0
123       1       66   15        2    4      8       8      3   0
124       1       67   16        2    1      8       5      3   1
125       1       68   16        2    2      8       6      3   1
126       1       69   16        2    3      8       7      3   1
127       1       70   16        2    4      8       8      3   1
128       2        0    1        1    1      9       1      4   0
129       2        1    1        1    2      9       2      4   0
130       2        2    1        1    3      9       3      4   0
131       2        3    1        1    4      9       4      4   0
132       2        4    2        1    1      9       1      4   1
133       2        5    2        1    2      9       2      4   1
134       2        6    2        1    3      9       3      4   1
135       2        7    2        1    4      9       4      4   1
136       2        9    3        2    1      9       5      4   0
137       2       10    3        2    2      9       6      4   0
138       2       11    3        2    3      9       7      4   0
139       2       12    3        2    4      9       8      4   0
140       2       13    4        2    1      9       5      4   1
141       2       14    4        2    2      9       6      4   1
142       2       15    4        2    3      9       7      4   1
143       2       16    4        2    4      9       8      4   1
144       2       18    5        1    1     10       1      4   0
145       2       19    5        1    2     10       2      4   0
146       2       20    5        1    3     10       3      4   0
147       2       21    5        1    4     10       4      4   0
148       2       22    6        1    1     10       1      4   1
149       2       23    6        1    2     10       2      4   1
150       2       24    6        1    3     10       3      4   1
151       2       25    6        1    4     10       4      4   1
152       2       27    7        2    1     10       5      4   0
153       2       28    7        2    2     10       6      4   0
154       2       29    7        2    3     10       7      4   0
155       2       30    7        2    4     10       8      4   0
156       2       31    8        2    1     10       5      4   1
157       2       32    8        2    2     10       6      4   1
158       2       33    8        2    3     10       7      4   1
159       2       34    8        2    4     10       8      4   1
160       2       36    9        3    1     10       9      5   0
161       2       37    9        3    2     10      10      5   0
162       2       38    9        3    3     10      11      5   0
163       2       39    9        3    4     10      12      5   0
164       2       40   10        3    1     10       9      5   1
165       2       41   10        3    2     10      10      5   1
166       2       42   10        3    3     10      11      5   1
167       2       43   10        3    4     10      12      5   1
168       2       45   11        1    1     11       1      5   0
169       2       46   11        1    2     11       2      5   0
170       2       47   11        1    3     11       3      5   0
171       2       48   11        1    4     11       4      5   0
172       2       49   12        1    1     11       1      5   1
173       2       50   12        1    2     11       2      5   1
174       2       51   12        1    3     11       3      5   1
175       2       52   12        1    4     11       4      5   1
176       2       54   13        2    1     11       5      5   0
177       2       55   13        2    2     11       6      5   0
178       2       56   13        2    3     11       7      5   0
179       2       57   13        2    4     11       8      5   0
180       2       58   14        2    1     11       5      5   1
181       2       59   14        2    2     11       6      5   1
182       2       60   14        2    3     11       7      5   1
183       2       61   14        2    4     11       8      5   1
184       2       63   15        3    1     11       9      5   0
185       2       64   15        3    2     11      10      5   0
186       2       65   15        3    3     11      11      5   0
187       2       66   15        3    4     11      12      5   0
188       2       67   16        3    1     11       9      5   1
189       2       68   16        3    2     11      10      5   1
190       2       69   16        3    3     11      11      5   1
191       2       70   16        3    4     11      12      5   1
192       0        0    1        1    1     12       1      0   0
193       0        1    1        1    2     12       2      0   0
194       0        2    1        1    3     12       3      0   0
195       0        3    1        1    4     12       4      0   0
196       0        4    2        1    1     12       1      0   1
197       0        5    2        1    2     12       2      0   1
198       0        6    2        1    3     12       3      0   1
199       0        7    2        1    4     12       4      0   1
200       0        9    3        2    1     12       5      0   0
201       0       10    3        2    2     12       6      0   0
202       0       11    3        2    3     12       7      0   0
203       0       12    3        2    4     12       8      0   0
204       0       13    4        2    1     12       5      0   1
205       0       14    4        2    2     12       6      0   1
206       0       15    4        2    3     12       7      0   1
207       0       16    4        2    4     12       8      0   1
208       0       18    5        3    1     12       9      0   0
209       0       19    5        3    2     12      10      0   0
210       0       20    5        3    3     12      11      0   0
211       0       21    5        3    4     12      12      0   0
212       0       22    6        3    1     12       9      0   1
213       0       23    6        3    2     12      10      0   1
214       0       24    6        3    3     12      11      0   1
215       0       25    6        3    4     12      12      0   1
216       0       27    7        1    1     13       1      0   0
217       0       28    7        1    2     13       2      0   0
218       0       29    7        1    3     13       3      0   0
219       0       30    7        1    4     13       4      0   0
220       0       31    8        1    1     13       1      0   1
221       0       32    8        1    2     13       2      0   1
222       0       33    8        1    3     13       3      0   1
223       0       34    8        1    4     13       4      0   1
224       0       36    9        2    1     13       5      1   0
225       0       37    9        2    2     13       6      1   0
226       0       38    9        2    3     13       7      1   0
227       0       39    9        2    4     13       8      1   0
228       0       40   10        2    1     13       5      1   1
229       0       41   10        2    2     13       6      1   1
230       0       42   10        2    3     13       7      1   1
231       0       43   10        2    4     13       8      1   1
232       0       45   11        3    1     13       9      1   0
233       0       46   11        3    2     13      10      1   0
234       0       47   11        3    3     13      11      1   0
235       0       48   11        3    4     13      12      1   0
236       0       49   12        3    1     13       9      1   1
237       0       50   12        3    2     13      10      1   1
238       0       51   12        3    3     13      11      1   1
239       0       52   12        3    4     13      12      1   1
240       0       54   13        1    1     14       1      1   0
241       0       55   13        1    2     14       2      1   0
242       0       56   13        1    3     14       3      1   0
243       0       57   13        1    4     14       4      1   0
244       0       58   14        1    1     14       1      1   1
245       0       59   14        1    2     14       2      1   1
246       0       60   14        1    3     14       3      1   1
247       0       61   14        1    4     14       4      1   1
248       0       63   15        2    1     14       5      1   0
249       0       64   15        2    2     14       6      1   0
250       0       65   15        2    3     14       7      1   0
251       0       66   15        2    4     14       8      1   0
252       0       67   16        2    1     14       5      1   1
253       0       68   16        2    2     14       6      1   1
254       0       69   16        2    3     14       7      1   1
255       0       70   16        2    4     14       8      1   1
256       1        0    1        3    1     14       9      2   0
257       1        1    1        3    2     14      10      2   0
258       1        2    1        3    3     14      11      2   0
259       1        3    1        3    4     14      12      2   0
260       1        4    2        3    1     14       9      2   1
261       1        5    2        3    2     14      10      2   1
262       1        6    2        3    3     14      11      2   1
263       1        7    2        3    4     14      12      2   1
264       1        9    3        1    1     15       1      2   0
265       1       10    3        1    2     15       2      2   0
266       1       11    3        1    3     15       3      2   0
267       1       12    3        1    4     15       4      2   0
268       1       13    4        1    1     15       1      2   1
269       1       14    4        1    2     15       2      2   1
270       1       15    4        1    3     15       3      2   1
271       1       16    4        1    4     15       4      2   1
272       1       18    5        2    1     15       5      2   0
273       1       19    5        2    2     15       6      2   0
274       1       20    5        2    3     15       7      2   0
275       1       21    5        2    4     15       8      2   0
276       1       22    6        2    1     15       5      2   1
277       1       23    6        2    2     15       6      2   1
278       1       24    6        2    3     15       7      2   1
279       1       25    6        2    4     15       8      2   1
280       1       27    7        3    1     15       9      2   0
281       1       28    7        3    2     15      10      2   0
282       1       29    7        3    3     15      11      2   0
283       1       30    7        3    4     15      12      2   0
284       1       31    8        3    1     15       9      2   1
285       1       32    8        3    2     15      10      2   1
286       1       33    8        3    3     15      11      2   1
287       1       34    8        3    4     15      12      2   1
288       1       36    9        1    1     16       1      3   0
289       1       37    9        1    2     16       2      3   0
290       1       38    9        1    3     16       3      3   0
291       1       39    9        1    4     16       4      3   0
292       1       40   10        1    1     16       1      3   1
293       1       41   10        1    2     16       2      3   1
294       1       42   10        1    3     16       3      3   1
295       1       43   10        1    4     16       4      3   1
296       1       45   11        2    1     16       5      3   0
297       1       46   11        2    2     16       6      3   0
298       1       47   11        2    3     16       7      3   0
299       1       48   11        2    4     16       8      3   0
300       1       49   12        2    1     16       5      3   1
301       1       50   12        2    2     16       6      3   1

In [11]:
new_map = new_map[['Polarfire','HGCROC','Channel','CMB','Quadbar','Bar','Plane','Cable']]
new_map

     Polarfire  HGCROC  Channel  CMB  Quadbar  Bar  Plane  Cable
0            0       0        0    1        1    1      1     11
1            0       0        1    1        1    2      1     11
2            0       0        2    1        1    3      1     11
3            0       0        3    1        1    4      1     11
4            0       0        4    2        1    1      1     12
..         ...     ...      ...  ...      ...  ...    ...    ...
379          1       2       66   15        3    4     19    195
380          1       2       67   16        3    1     19    196
381          1       2       68   16        3    2     19    196
382          1       2       69   16        3    3     19    196
383          1       2       70   16        3    4     19    196

[384 rows x 8 columns]

In [12]:
ne_stacked = (ldmxsw_map != new_map).stack()
changed = ne_stacked[ne_stacked]
    
difference_locations = np.where(ldmxsw_map != new_map)
changed_from = ldmxsw_map.values[difference_locations]
changed_to = new_map.values[difference_locations]
pd.DataFrame({'from': changed_from, 'to': changed_to}, index=changed.index)

             from  to
0   Bar         4   1
1   Bar         3   2
2   Bar         2   3
3   Bar         1   4
8   Bar         4   1
...           ...  ..
379 Bar         1   4
380 Quadbar     2   3
381 Quadbar     2   3
382 Quadbar     2   3
383 Quadbar     2   3

[308 rows x 2 columns]

Now, let's cross check Peter's map.

In [13]:
# converts the link-channel provided by the HGCROC into a 'real' channel: 
# goes from 1 to 384, representing a SiPM each
# link is the chip halves, channel is just the channel
def FpgaLinkChannel_to_realChannel(FpgaLinkChannel):                                                                                                   
    #channel = FpgaLinkChannel[2] # Should this be -1?
    channel = FpgaLinkChannel[2]-1
    if 0 <= channel and channel <= 7:  realChannel = channel
    elif 9 <= channel and channel <= 16:  realChannel = channel-1
    elif 19 <= channel and channel <= 26:  realChannel = channel-3
    elif 28 <= channel and channel <= 35:  realChannel = channel-4
    else: realChannel = None

    if realChannel != None: realChannel+=FpgaLinkChannel[1]*32
    if realChannel != None: realChannel+=FpgaLinkChannel[0]*32*6
    return realChannel

#converts the 'real' channel into a 3 vector that describes the SiPM really well   
# take realChannel return [layer,bar,side]
def realChannel_to_SipM(c):                                                                                                                                                           
    if c == None: return None
    for i in range(1,10):
        if 0 <= c and c <= 3: return [i,c,0]
        if 4 <= c and c <= 7: return [i,c-4,1]
        if 8 <= c and c <= 11: return [i,c-4,0]
        if 12 <= c and c <= 15: return [i,c-8,1]
        c-=16
    for i in range(10,20):
        if 0 <= c and c <= 3: return [i,c,0]
        if 4 <= c and c <= 7: return [i,c-4,1]
        if 8 <= c and c <= 11: return [i,c-4,0]
        if 12 <= c and c <= 15: return [i,c-8,1]
        if 16 <= c and c <= 19: return [i,c-8,0]
        if 20 <= c and c <= 23: return [i,c-12,1]
        c-=24
    return 'too many layers'

Let's test Peter's mapping with FPGA=1, link=1, channel=1

In [14]:
# call as: FpgaLinkChannel_to_realChannel(fpga,link,channel)
realChannel = FpgaLinkChannel_to_realChannel([0,1,1])
print(realChannel)
#PlaneBarEnd = realChannel_to_SipM(realChannel)
LayerBarSide = realChannel_to_SipM(realChannel)
print(LayerBarSide)

32
[3, 0, 0]

In [15]:
new_long_map.query('(Plane==13) & (Bar==4) & (End==0) & (Quadbar==2)')

     HGCROC  Channel  CMB  Quadbar  Bar  Plane  AllBar  Elink End
227       0       39    9        2    4     13       8      1   0

In [16]:
new_long_map.query('(HGCROC==0) & (Elink==0)')

     HGCROC  Channel  CMB  Quadbar  Bar  Plane  AllBar  Elink End
0         0        0    1        1    1      1       1      0   0
1         0        1    1        1    2      1       2      0   0
2         0        2    1        1    3      1       3      0   0
3         0        3    1        1    4      1       4      0   0
4         0        4    2        1    1      1       1      0   1
..      ...      ...  ...      ...  ...    ...     ...    ...  ..
219       0       30    7        1    4     13       4      0   0
220       0       31    8        1    1     13       1      0   1
221       0       32    8        1    2     13       2      0   1
222       0       33    8        1    3     13       3      0   1
223       0       34    8        1    4     13       4      0   1

[64 rows x 9 columns]

In [17]:
new_long_map.to_csv("testbeam_connections_Apr13.csv")